<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" dropeffect="none" class="js is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile" style="">
<head th:replace="common::commonHeader('主页')">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../styles/detail.css">
</head>
<div class="zg-wrap zu-main clearfix with-indention-votebar" itemscope="" itemtype="http://schema.org/Question"
     id="zh-single-question-page" data-urltoken="36301524" role="main">
    <div class="zu-main-content">
        <div class="zu-main-content-inner">
            <meta itemprop="isTopQuestion" content="false">
            <meta itemprop="visitsCount" content="402">
            <div id="zh-question-title" data-editable="true" class="zm-editable-status-normal">
                <h2 class="zm-item-title">

                    <span class="zm-editable-content" th:text="${question.title}"></span>
					<input type="hidden" class="questionId" th:value="${question.id}"/>
                </h2>
            </div>
            <div id="zh-question-detail" class="zm-item-rich-text zm-editable-status-normal">
                <div class="zm-editable-content" th:text="${question.content}"></div>
            </div>
            <div class="zm-side-section">
                <div class="zm-side-section-inner" id="zh-question-side-header-wrap">
                    <button  class="follow-button zg-follow zg-btn-green" data-id="6727688" th:text="${isFocus}?'取消关注':'关注问题'">
                        关注问题
                    </button>
                    <div class="zh-question-followers-sidebar">
                        <div class="zg-gray-normal">
                            <a href="">
                                <strong id="fansCount" th:text="${focusCount}"></strong></a>人关注该问题
                        </div>
                        <div class="list zu-small-avatar-list zg-clear" > 
                         	<a  th:each="fan:${fans}" class="zm-item-link-avatar" th:href="@{'/user/'+${fan.id}}">
                                <img th:src="@{${fan.head_url}}" class="zm-item-img-avatar">
                            </a>
                         
                            
                          
                        </div>
                    </div>
                </div>
            </div>
            <div th:each="view:${views}" id="zh-question-answer-wrap" data-pagesize="10" class="zh-question-answer-wrapper navigable"
                 data-widget="navigable" data-navigable-options="{&quot;items&quot;: &quot;&gt;.zm-item-answer&quot;}"
                 data-init="{&quot;params&quot;: {&quot;url_token&quot;: 36301524, &quot;pagesize&quot;: 10, &quot;offset&quot;: 0}, &quot;nodename&quot;: &quot;QuestionAnswerListV2&quot;}">
                <div tabindex="-1" class="zm-item-answer  zm-item-expanded" itemprop="topAnswer" itemscope=""
                     itemtype="http://schema.org/Answer" data-aid="22162611" data-atoken="66862039" data-collapsed="0"
                     data-created="1444310527" data-deleted="0" data-helpful="1" data-isowner="0" data-copyable="1"
                     data-za-module="AnswerItem">
                    <link itemprop="url" href="">
                    <meta itemprop="answer-id" content="22162611">
                    <meta itemprop="answer-url-token" content="66862039">
                    <a class="zg-anchor-hidden" name="answer-22162611"></a>
                    <div class="zm-votebar goog-scrollfloater" data-za-module="VoteBar">
                        <button  class="up" aria-pressed="false" title="赞同">
                            <i class="icon vote-arrow"></i>
                            <span  class="count" th:text="${view[likeCount]}"></span>
                            <span class="label sr-only">赞同</span></button>
                        <button  class="down" aria-pressed="false" title="反对，不会显示你的姓名">
                            <i class="icon vote-arrow"></i>
                            <span class="label sr-only">反对，不会显示你的姓名</span></button>
                        <input type="hidden" class="commentId" th:value="${view[comment].id}"/>
                    </div>
                    <div class="answer-head">
                        <div class="zm-item-answer-author-info">
                            <a class="zm-item-link-avatar avatar-link" href="" target="_blank"
                               data-tip="p$t$yingxiaodao">
                                <img th:src="@{${view[user].head_url}}" class="zm-list-avatar avatar"></a>
                            <a class="author-link" target="_blank" href="/user/$comment.user.id" th:text="${view[user].name}"></a>
                            </div>
                        <div class="zm-item-vote-info" data-votecount="28" data-za-module="VoteInfo">
                                <span  class="voters text"  th:text="${view[likeCount]}+'人赞同'">
                                    <a href="" class="more text">
                                        <span class="js-voteCount" ></span></a></span>
                        </div>
                    </div>
                    <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="6727688"
                         data-action="/answer/content" data-author-name="营销岛"
                         data-entry-url="/question/36301524/answer/66862039">
                        <div class="zm-editable-content clearfix" th:text="${view[comment].content}">
                        </div>
                    </div>
                    <a class="zg-anchor-hidden ac" name="22162611-comment"></a>
                    <div class="zm-item-meta answer-actions clearfix js-contentActions">
                        <div class="zm-meta-panel">
                            <a itemprop="url" class="answer-date-link meta-item" target="_blank" href="" th:text="'发布于' +${#dates.format(view[comment].created_date, 'yyyy-MM-dd')}" ></a>

                            <!--
                            <a href="" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                                <i class="z-icon-comment"></i>4 条评论</a>
                            <a href="" class="meta-item zu-autohide js-thank" data-thanked="false">
                                <i class="z-icon-thank"></i>感谢</a>

                            <button class="item-collapse js-collapse" style="transition: none;">
                                <i class="z-icon-fold"></i>收起
                            </button>
                            -->
                        </div>
                    </div>
                </div>
                
            </div>
            <a name="draft"></a>
            <form action="/addComment" method="post" id="commentform">
                <input type="hidden" name="questionId" th:value="${question.id}"/>
            <div id="zh-question-answer-form-wrap" class="zh-question-answer-form-wrap">
                <div class="zm-editable-editor-wrap" style="">
                    <div class="zm-editable-editor-outer">
                        <div class="zm-editable-editor-field-wrap">
                            <textarea name="content" id="content" class="zm-editable-editor-field-element editable" style="font-style: italic;width:100%;"></textarea>
                        </div>
                    </div>

                    <div class="zm-command clearfix">
                            <span class=" zg-right">
                                <button type="submit" class="submit-button zg-btn-blue">发布回答</button></span>
                    </div>
                </div>
            </div>
            </form>

        </div>
    </div>
</div>
<div th:include="common::commonFooter"></div>
<script>
$(function(){
    //按钮单击时执行
	$(".up").click(function (){
		var parent = $(this).parent();
		var node = $(parent).next();
	   $.ajax({
	        url:'/likeComment',
	        contentType:"application/json;charset=UTF-8",
	        data:JSON.stringify({
	            "entityId":$(parent).find('.commentId').val()
	        }),
	        type:'POST',
	        dataType:"json",
	        success:function(str){
	        	var message = JSON.parse(str);
		         var count = message.likeCount;
		         $(parent).find(".count").text(count);
		         $(node).find(".voters").text(count+"人赞同");
	        },
	        error:function (err){
	           
	        }
	    });
	});
    
	$(".down").click(function (){
		   var parent = $(this).parent();
		   var node = $(parent).next();
		   $.ajax({
		        url:'/dislikeComment',
		        contentType:"application/json;charset=UTF-8",
		        data:JSON.stringify({
		            "entityId":$(parent).find('.commentId').val()
		        }),
		        type:'POST',
		        dataType:"json",
		        success:function(str){
		          var message = JSON.parse(str);
		           var count = message.likeCount;
		           $(parent).find(".count").text(count);
		           $(node).find(".voters").text(count+"人赞同");
		        },
		        error:function (err){
		           
		        }
		    });
		});
	
	$(".follow-button").click(function (){
		if($(".follow-button").text()=="关注问题".trim()){
			$.ajax({
		        url:'/focusQuestion',
		        contentType:"application/json;charset=UTF-8",
		        data:JSON.stringify({
		        	"questionId":$(".questionId").val()
		        }),
		        type:'POST',
		        dataType:"json",
		        success:function(str){
		        	$(".follow-button").text("取消关注");
		        	var count = $("#fansCount").text();
		        	$("#fansCount").text(Number(count)+1);
		        	window.location.reload();
		        },
		        error:function (err){
		           
		        }
		    });
	}else{
		$.ajax({
	        url:'/unfocusQuestion',
	        contentType:"application/json;charset=UTF-8",
	        data:JSON.stringify({
	            "questionId":$(".questionId").val()
	        }),
	        type:'POST',
	        dataType:"json",
	        success:function(str){
	        	$(".follow-button").text("关注问题");
	        	var count = $("#fansCount").text();
	        	$("#fansCount").text(Number(count)-1);
	        	window.location.reload();
	        },
	        error:function (err){
	           
	      	}
	   	 });
		}
		
	});
});
</script>
</body>
</html>