<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" dropeffect="none" class="js is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile" style="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" async="" src="../scripts/za-0.1.1.min.js"></script>
    <script async="" src="../scripts/ga.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-ZA-Response-Id" content="46acde5c53db46f2806ccad726de9826">
    <title>首页 - 牛客</title>
    <meta name="apple-itunes-app" content="app-id=432274380">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="mobile-agent" content="format=html5;url=https://nowcoder.com/">
    <meta id="znonce" name="znonce" content="d3edc464cf014708819feffde7ddd01e">
    <link rel="search" type="application/opensearchdescription+xml" href="https://nowcoder.com/static/search.xml" title="牛客">
    <link rel="stylesheet" href="../styles/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">  
    <style>
    .zm-item-answer-author-info a.collapse {margin-top: 0}
    .modal-backdrop{z-index:5;}
	 .modal-open{
       overflow-y: scroll;
    }
    body{
        padding-right:15px!important;
    }
    </style>

</head>

<body class="zhi ">
<div role="navigation" class="zu-top">
    <div class="zg-wrap modal-shifting clearfix" id="zh-top-inner">
        <a href="https://nowcoder.com/" class="zu-top-link-logo" id="zh-top-link-logo" >牛客</a>
        <div class="top-nav-profile">
            <a href="https://nowcoder.com/people/hu-yuan-24-48" class="zu-top-nav-userinfo " id=":0" role="button" >
                <span  class="name"  th:text="${self.name}"></span>
                <img  class="Avatar" th:src="@{${self.head_url}}"  alt="牛客">
                    <span id="zh-top-nav-new-pm" class="zg-noti-number zu-top-nav-pm-count" style="visibility:hidden" >
                    </span>
            </a>
            <ul class="top-nav-dropdown" id="top-nav-profile-dropdown" aria-labelledby=":0">
                <li>
                    <a href="/index" tabindex="-1" id=":1">
                        <i class="zg-icon zg-icon-dd-home"></i>我的主页
                    </a>
                </li>
                <li>
                    <a href="/letter" tabindex="-1" id=":2">
                        <i class="zg-icon zg-icon-dd-pm"></i>私信
                    <span id="zh-top-nav-pm-count" class="zu-top-nav-pm-count zg-noti-number" style="visibility:hidden" data-count="0">
                    </span>
                    </a>
                </li>
                <li>
                    <a href="https://nowcoder.com/settings" tabindex="-1" id=":3">
                        <i class="zg-icon zg-icon-dd-settings"></i>设置
                    </a>
                </li>
                <li>
                    <a href="/signOut"   tabindex="-1" id=":4">
                        <i class="zg-icon zg-icon-dd-logout"></i>退出
                    </a>
                </li>
            </ul>
        </div>
      
        
        
        <!-- 提问按钮 -->
        <button type="button" class="zu-top-add-question" id="zu-top-add-question" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">提问</button>
		<!-- 提问模态框开始 -->
		<form method="POST" action="/question/add">
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			  <div class="modal-dialog" role="document" style="z-index:1050;">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="exampleModalLabel">提问</h4>
			      </div>
			      <div class="modal-body">
			          <div class="form-group">
			            <label for="recipient-name" class="control-label">标题:</label>
			            <input type="text" class="form-control" id="title"  name="title">
			          </div>
			          <div class="form-group">
			            <label for="message-text" class="control-label">内容:</label>
			            <textarea class="form-control" id="content" name="content"></textarea>
			          </div>
			      </div>
			      <div class="modal-footer">
			        <button type="submit" class="btn btn-primary"  id="save">保存</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			      </div>
			    </div>
			  </div>
			</div>
		</form>
		<!--提问模态框结束 -->
        
        
        <div role="search" id="zh-top-search" class="zu-top-search">
            <form method="GET" action="https://nowcoder.com/search" id="zh-top-search-form" class="zu-top-search-form">
                <input type="hidden" name="type" value="content">
                <label for="q" class="hide-text">牛客搜索</label><input type="text" class="zu-top-search-input" id="q" name="q" autocomplete="off" value="" placeholder="搜索你感兴趣的内容..." role="combobox" aria-autocomplete="list">
                <button type="submit" class="zu-top-search-button"><span class="hide-text">搜索</span><span class="sprite-global-icon-magnifier-dark"></span></button>
            </form>
        </div>
        <div id="zg-top-nav" class="zu-top-nav">
            <ul class="zu-top-nav-ul zg-clear">
                <li class="zu-top-nav-li current" id="zh-top-nav-home">
                    <a class="zu-top-nav-link" href="https://nowcoder.com/" id="zh-top-link-home" data-za-c="view_home" data-za-a="visit_home" data-za-l="top_navigation_home">首页</a>
                </li>
                <li class="zu-top-nav-li " id="zh-top-nav-explore">
                    <a class="zu-top-nav-link" href="https://nowcoder.com/explore">发现</a>
                </li>
                <li class="top-nav-noti zu-top-nav-li ">
                    <a class="zu-top-nav-link" href="javascript:;" id="zh-top-nav-count-wrap" role="button"><span class="mobi-arrow"></span>消息<span id="zh-top-nav-count" class="zu-top-nav-count zg-noti-number" style="display: none;">0</span></a>
                </li>
            </ul>
            <div class="zu-top-nav-live zu-noti7-popup zg-r5px no-hovercard" id="zh-top-nav-live-new" role="popup" tabindex="0">
                <div class="zu-top-nav-live-inner zg-r5px">
                    <div class="zu-top-live-icon">&nbsp;</div>
                    <div class="zu-home-noti-inner" id="zh-top-nav-live-new-inner">
                        <div class="zm-noti7-popup-tab-container clearfix" tabindex="0" role="tablist">
                            <button class="zm-noti7-popup-tab-item message" role="tab">
                                <span class="icon">消息</span>
                            </button>
                            <button class="zm-noti7-popup-tab-item user" role="tab">
                                <span class="icon">用户</span>
                            </button>
                            <button class="zm-noti7-popup-tab-item thanks" role="tab">
                                <span class="icon">赞同和感谢</span>
                            </button>
                        </div>
                    </div>
                    <div class="zm-noti7-frame-border top"></div>
                    <div class="zm-noti7-frame">
                        <div class="zm-noti7-content message zh-scroller" style="position: relative; overflow: hidden;">
                            <div class="zh-scroller-inner" style="height: 100%; width: 150%; overflow: auto;"><div class="zh-scroller-content" style="position: static; display: block; visibility: visible; overflow: hidden; width: 315px; min-height: 100%;">
                                <div class="zm-noti7-content-inner">
                                    <div class="zm-noti7-content-body">
                                        <div class="zm-noti7-popup-loading">
                                            <span class="noti-spinner-loading"></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                            <div class="zh-scroller-bar-container" style="position: absolute; right: 1px; top: 0px; height: 98px; width: 6px; border: 1px solid rgb(68, 68, 68); opacity: 0; cursor: default; border-radius: 2px; -webkit-user-select: none; background: rgb(102, 102, 102);"><div style="-webkit-user-select: none;"></div></div><div class="zh-scroller-bar" style="position: absolute; right: 2px; top: 2px; opacity: 0.5; width: 6px; border-radius: 3px; cursor: default; -webkit-user-select: none; display: none; background: rgb(0, 0, 0);"></div>
                        </div>
                        <div class="zm-noti7-content user zh-scroller" style="display: none; position: relative; overflow: hidden;"><div class="zh-scroller-inner" style="height: 100%; width: 150%; overflow: auto;"><div class="zh-scroller-content" style="position: static; display: block; visibility: visible; overflow: hidden; width: 315px; min-height: 100%;">
                            <div class="zm-noti7-content-inner">
                                <div class="zm-noti7-content-body">
                                    <div class="zm-noti7-popup-loading">
                                        <span class="noti-spinner-loading"></span>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="zh-scroller-bar-container" style="position: absolute; right: 1px; top: 0px; height: 98px; width: 6px; border: 1px solid rgb(68, 68, 68); opacity: 0; cursor: default; border-radius: 2px; -webkit-user-select: none; background: rgb(102, 102, 102);"><div style="-webkit-user-select: none;"></div></div><div class="zh-scroller-bar" style="position: absolute; right: 2px; top: 2px; opacity: 0.5; width: 6px; border-radius: 3px; cursor: default; -webkit-user-select: none; display: none; background: rgb(0, 0, 0);"></div></div>
                        <div class="zm-noti7-content thanks zh-scroller" style="display: none; position: relative; overflow: hidden;"><div class="zh-scroller-inner" style="height: 100%; width: 150%; overflow: auto;"><div class="zh-scroller-content" style="position: static; display: block; visibility: visible; overflow: hidden; width: 315px; min-height: 100%;">
                            <div class="zm-noti7-content-inner">
                                <div class="zm-noti7-content-body">
                                    <div class="zm-noti7-popup-loading">
                                        <span class="noti-spinner-loading"></span>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="zh-scroller-bar-container" style="position: absolute; right: 1px; top: 0px; height: 98px; width: 6px; border: 1px solid rgb(68, 68, 68); opacity: 0; cursor: default; border-radius: 2px; -webkit-user-select: none; background: rgb(102, 102, 102);"><div style="-webkit-user-select: none;"></div></div><div class="zh-scroller-bar" style="position: absolute; right: 2px; top: 2px; opacity: 0.5; width: 6px; border-radius: 3px; cursor: default; -webkit-user-select: none; display: none; background: rgb(0, 0, 0);"></div></div>
                    </div>
                    <div class="zm-noti7-frame-border bottom"></div>
                    <div class="zm-noti7-popup-footer">
                        <a href="https://nowcoder.com/notifications" class="zm-noti7-popup-footer-all zg-right">查看全部 »</a>
                        <a href="https://nowcoder.com/settings/notification" class="zm-noti7-popup-footer-set" title="通知设置"><i class="zg-icon zg-icon-settings"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="zu-global-notify" id="zh-global-message" style="display:none">
    <div class="zg-wrap">
        <div class="zu-global-nitify-inner">
            <a class="zu-global-notify-close" href="javascript:;" title="关闭" name="close">x</a>
            <span class="zu-global-notify-icon"></span>
            <span class="zu-global-notify-msg"></span>
        </div>
    </div>
</div>

	
	<div class="zg-wrap zu-main clearfix " role="main">
	<div>
          <button class="focusUser zg-btn zg-btn-unfollow zm-rich-follow-btn small nth-0"  th:text="${isFocus}?'取消关注':'关注'"></button>
          <input type="hidden" class="userId" th:value="${theUser.id}"/>
    </div>
        <div class="zm-profile-section-wrap zm-profile-followee-page">
                <div class="zm-profile-section-head">
                    <span class="zm-profile-section-name" >
                        <a th:href="@{'/user/'+${theUser.id}}" th:text="${theUser.name}"></a> 关注了 <span th:text="${focusCount}"></span> 人
                    </span>
                    <a class="zg-right zg-link-litblue-normal zm-profile-answer-page-return" href="/index">返回个人主页</a>
                </div>
                <div class="zm-profile-section-list">
                   <div id="zh-profile-follows-list">
                        <div class="zh-general-list clearfix">
                            <div  th:each="info:${focusInfo}" class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">
                                <div class="zg-right">
                                    <button class="focusUser zg-btn zg-btn-unfollow zm-rich-follow-btn small nth-0"  th:text="${info[isFocus]}?'取消关注':'关注'"></button>
                                    <input type="hidden" class="userId" th:value="${info[user].id}"/>
                                </div>
                                <a  class="zm-item-link-avatar" th:href="@{'/user/'+${info[user].id}}">
                                    <img th:src="@{${info[user].head_url}}" class="zm-item-img-avatar">
                                </a>
                                <div class="zm-list-content-medium">
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" th:href="@{'/user/'+${info[user].id}}" class="zg-link"   th:text="${info[user].name}"></a></h2>
                                    <div class="details zg-gray">
                                        <a  href="#" class="zg-link-gray-normal" th:text="${info[focusCount]}+' 关注者'"></a>
                                        /
                                        <a  href="#" class="zg-link-gray-normal"  th:text="${info[questionCount]}+' 提问'"></a>
                                        /
                                        <a  href="#" class="zg-link-gray-normal" th:text="${info[answerCount]}+' 回答'"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a aria-role="button" class="zg-btn-white zu-button-more">更多</a>
                    </div>
                </div>
            </div>
         </div>
    <div class="zg-wrap zu-main clearfix " role="main">
        <div class="zu-main-content">
            <div class="zu-main-content-inner">
                <div class="zg-section" id="zh-home-list-title">
                    <i class="zg-icon zg-icon-feedlist"></i>最新动态
                    <input type="hidden" id="is-topstory">
                    <span class="zg-right zm-noti-cleaner-setting" style="list-style:none">
                        <a href="https://nowcoder.com/settings/filter" class="zg-link-gray-normal">
                            <i class="zg-icon zg-icon-settings"></i>设置</a></span>
                </div>
                <div class="zu-main-feed-con navigable" data-feedtype="topstory" id="zh-question-list" data-widget="navigable" data-navigable-options="{&quot;items&quot;:&quot;&gt; .zh-general-list .feed-content&quot;,&quot;offsetTop&quot;:-82}">
                    <a href="javascript:;" class="zu-main-feed-fresh-button" id="zh-main-feed-fresh-button" style="display:none"></a>
                    <div th:each="view:${views}" id="js-home-feed-list" class="zh-general-list topstory clearfix" data-init="{&quot;params&quot;: {}, &quot;nodename&quot;: &quot;TopStory2FeedList&quot;}" data-delayed="true" data-za-module="TopStoryFeedList">
                        <div class="feed-item folding feed-item-hook feed-item-2">
                            <div class="feed-item-inner">
                                <div class="avatar">
                                    <a title="${view[user].name}"  th:href="@{'/user/'+${view[user].id}}" class="zm-item-link-avatar" target="_blank" >
                                        <img th:src="@{${view[user].head_url}}"  class="zm-item-img-avatar"></a>
                                </div>
                                <div class="feed-main">
                                    <div class="feed-content" >  
                                        <h2 class="feed-title">
                                            <a class="question_link"  th:href="@{'/question/'+${view[question].id}}"  th:text="${view[question].title}"></a></h2>
                                        <div class="feed-question-detail-item">
                                            <div class="question-description-plain zm-editable-content"></div>
                                        </div>
                                        <div class="expandable entry-body">	
                                            <div class="zm-item-answer-author-info">
                                                <a class="author-link"  th:href="@{'/user/'+${view[user].id}}" th:text="${view[user].name}+'   '+${#dates.format(view[question].created_date, 'yyyy-MM-dd')}"></a>
                                              </div>
                                         
                                            <div class="zm-item-rich-text expandable js-collapse-body" >
                                                <div class="zh-summary summary clearfix" th:text="${view[question].content}"></div>
                                            </div>
                                        </div>
                                        <div class="feed-meta">
                                            <div class="zm-item-meta answer-actions clearfix js-contentActions">
                                                <div class="zm-meta-panel">
                                                	<button class="up" aria-pressed="false" title="赞同">
													<i class="icon vote-arrow"></i> 
													<span class="count" th:text="${view[likeCount]}+'人点赞'"></span> 
													<span class="label sr-only">赞同</span>
												</button>
												<button class="down" aria-pressed="false" title="反对，不会显示你的姓名">
													<i class="icon vote-arrow"></i> <span class="label sr-only">反对，不会显示你的姓名</span>											
												</button>
												<input type="hidden" class="questionId" th:value="${view[question].id}"/>
												
                                                    <a data-follow="q:link" class="focusQuestion follow-link zg-follow meta-item" href="javascript:;" id="sfb-123114" th:text="${view[isFocus]}?'取消关注':'关注问题'">
                                                    </a>
                                                    <a href="#" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox" th:text="${view[question].comment_count}+'条评论'">
                                                        <i class="z-icon-comment"></i></a>


                                                    <button class="meta-item item-collapse js-collapse">
                                                        <i class="z-icon-fold"></i>收起</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <a href="javascript:;" id="zh-load-more" data-method="next" class="zg-btn-white zg-r3px zu-button-more" style="">更多</a></div>
            </div>
        </div>
    </div>
    
    

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script>
$(function(){
    //按钮单击时执行
	$(".up").click(function (){
		var parent = $(this).parent();
	   $.ajax({
	        url:'/likeQuestion',
	        contentType:"application/json;charset=UTF-8",
	        data:JSON.stringify({
	            "entityId":$(parent).find('.questionId').val()
	        }),
	        type:'POST',
	        dataType:"json",
	        success:function(str){
	        	var message = JSON.parse(str);
		         var count = message.likeCount;
		         $(parent).find(".count").text(count+"人点赞");
	        },
	        error:function (err){
	           
	        }
	    });
	});
    
	$(".down").click(function (){
		   var parent = $(this).parent();
		   $.ajax({
		        url:'/dislikeQuestion',
		        contentType:"application/json;charset=UTF-8",
		        data:JSON.stringify({
		            "entityId":$(parent).find('.questionId').val()
		        }),
		        type:'POST',
		        dataType:"json",
		        success:function(str){
		          var message = JSON.parse(str);
		           var count = message.likeCount;
		           $(parent).find(".count").text(count+"人点赞");
		        },
		        error:function (err){
		           
		        }
		    });
		});
	
	$(".focusUser").click(function (){
		var parent = $(this).parent();
		if($(this).text().trim()=="关注".trim()){
			$.ajax({
		        url:'/focusUser',
		        contentType:"application/json;charset=UTF-8",
		        data:JSON.stringify({
		            "userId":$(parent).find('.userId').val()
		        }),
		        type:'POST',
		        dataType:"json",
		        success:function(str){
		        	$(parent).find(".focusUser").text("取消关注");
		        },
		        error:function (err){
		           
		        }
		    });
	}else{
		$.ajax({
	        url:'/unfocusUser',
	        contentType:"application/json;charset=UTF-8",
	        data:JSON.stringify({
	            "userId":$(parent).find('.userId').val()
	        }),
	        type:'POST',
	        dataType:"json",
	        success:function(str){
	        	$(parent).find(".focusUser").text("关注");
	        },
	        error:function (err){
	           
	      	}
	   	 });
		}
		
	});
	
	$(".focusQuestion").click(function (){
		var parent = $(this).parent();
		if($(this).text().trim()=="关注问题".trim()){
			$.ajax({
		        url:'/focusQuestion',
		        contentType:"application/json;charset=UTF-8",
		        data:JSON.stringify({
		            "questionId":$(parent).find('.questionId').val()
		        }),
		        type:'POST',
		        dataType:"json",
		        success:function(str){
		        	$(parent).find(".focusQuestion").text("取消关注");
		        },
		        error:function (err){
		           
		        }
		    });
	}else{
		$.ajax({
	        url:'/unfocusQuestion',
	        contentType:"application/json;charset=UTF-8",
	        data:JSON.stringify({
	            "questionId":$(parent).find('.questionId').val()
	        }),
	        type:'POST',
	        dataType:"json",
	        success:function(str){
	        	$(parent).find(".focusQuestion").text("关注问题");
	        },
	        error:function (err){
	           
	      	}
	   	 });
		}
		
	});  	
});
</script>


</body></html>