<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huangjun.dao.MessageDAO">
    <select id="findAllConversation" resultType="com.huangjun.model.Message">
    SELECT from_id,to_id,content,conversation_id,created_date,has_read,COUNT(*) AS id  
    FROM  (SELECT * FROM message where #{user_id} in (from_id,to_id) ORDER BY created_date DESC ) m 
    GROUP BY conversation_id  ORDER BY created_date DESC
    limit #{start},#{count}
    </select>
    
    <select id="findMessage" resultType="com.huangjun.model.Message">
        select * 
        from message
        where conversation_id = #{conversation_id}
        order by created_date
        limit #{start},#{count}
    </select>
    
 
    
    <insert id="addMessage" >
    	INSERT INTO Message(from_id,to_id,content,conversation_id,created_date,has_read) Values(#{from_id},#{to_id},#{content},#{conversation_id},#{created_date},#{has_read})
    </insert>
    
    
    <delete id="deleteConversation" >
    	DELETE 
    	FROM Message
    	WHERE conversation_id = #{conversation_id}
    </delete>
    

</mapper>
